<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
     <script src="javascripts/controller.js"></script>
  </head>
  <body ng-app="app" ng-controller="MainCtrl">
    <div class="container">
      <div class="header clearfix">
        <nav class="navbar navbar-light">
          <a class="navbar-brand" href="/">
            <i class="fa fa-cutlery"></i>&nbsp;&nbsp;Recipe To List
          </a>

          <div class="nav navbar-nav pull-xs-right">
	    <p>Welcome, {{user.firstName}}</p>
            <a class="btn btn-secondary" href="/signout"><i class="fa fa-sign-out"></i> Sign Out</a>
          </div>
        </nav>
      </div>
      <hr>
      <div class="row">
        <div id="left" class="col-md-6">
          <form ng-submit="recipeFromUrl(); clearForms()" ng-hide="hideForms">
            <h4>Enter recipe by URL</h4>
            <fieldset class="form-group">
              <label for="recipeUrl">Recipe URL:</label>
              <input type="text" class="form-control"  ng-model="formRecipeUrl" id="recipeUrl">
            </fieldset>
          <button type="submit" class="btn btn-success" >Submit</button>
          </form>
          <div ng-hide="hideForms">
            <hr>
            Or:
            <hr>
          </div>
          <form ng-submit="recipeFromParams()" ng-hide="hideForms">
            <h4>Find recipe using the form below</h4>
            <fieldset class="form-group">
                 <label for="recipeUrl">Cuisine:</label>
                 <input type="text" class="form-control" ng-model="cuisine">
	         <label for="recipeUrl">Diet:</label> 
	         <input type="text" class="form-control" ng-model="diet">
		 <label for="recipeUrl">Tolerances:</label>
                  <input type="text" class="form-control" ng-model="tolerances">
		 <label for="recipeUrl">Meal Name:</label>	
	 	 <input type="text" class="form-control" ng-model="meal">
		 <label for="recipeUrl">Type:</label>
		 <input type="text" class="form-control" ng-model="type">

          <button type="submit" class="btn btn-success">Submit</button>

            </fieldset>
          </form>
          <form ng-submit="addRecipeToUser()" ng-hide="hideSuggestion">
            <h4>Add this recipe?</h4>
            {{recipe.title}}            
            <button type="submit" class="btn btn-success">Yes</button>
            <button type="button" class="btn btn-error" ng-click="cancelAddRecipe()" >No</button>
          </form>
        </div>
        <div id="right" class="col-md-6">
          Body content
        </div>
      </div>
    </div>
  </body>
</html>
