<!DOCTYPE html>
<html>  
  <head>
    <meta charset="utf-8">
    <title>Groceries</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/login.css">
  </head>

  <body>

    <div class="container">

      <form action="/login" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id="inputUN" name="username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <h6> Don't have an account? <a href="/signup">Create one</a></h6>
      </form>
    </div> <!-- /container -->

  </body>
</html>
